{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    {% set sumVal = cash %}
    <table class="table borderless">
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Current Value</th>
            <th>Total Value</th>
        </tr>
        {% for k,v in portfolio.items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v[0] }}</td>
            <td>{{ v[1] | usd }}</td>
            <td>{{ (v[0] * v[1]) | usd }}</td>
            <td>
                <form action = "/sell" method="POST">
                    <input type = "hidden" name = "shares" value = "{{ v[0] }}"/>
                    <button class="btn btn-primary" name="symbol" value="{{ k }}">Sell All</button>
                </form>
            </td>
            {% set sumVal =  sumVal + (v[0] * v[1]) %}
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table class="table borderless">
        <tr>
            <th>Cash Balance:</th>
            <th>Total Balance:</th>
        </tr>
        <tr>
            <td>{{ cash | usd }}</td>
            <td>{{ (cash + totalStockVal) | usd }}</td>
        </tr>
    </table>
{% endblock %}
