{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action = "/sell" method="POST">
        <select name="symbol">
            {% for k,v in portfolio.items() %}
            <option value={{ k }}>{{ k }}</option>
            {% endfor %}
        </select>
        <label for="shares">Quantity</label>
        <input type="test" name="shares"/>
        <button class="btn {% if v[2] > 0 %} btn-primary{% endif %} btn-warning {% else %}" type="submit">Sell</button>
    </form>
{% endblock %}